html body
  width 100%
  height 100%
#app
  .header
		width 100%
		position fixed
		top 0px 
		background-color #fff
		z-index 100
		.head   
			display flex
			align-items: center;
			width 100%
			height 48px
			background #fff  
			justify-content space-between    
			.logo
				img
					height 20px
					padding 5px 
      .middle
         height 34px   
         text-align center
         position relative
         .middle-input   
            display flex           
            border 1px solid #eee
            border-radius 5px
            height 23px
            background-color #eee
            span 
               font-size 14px
      .right
         width 40px
         .btn
            font-size 12px
            color: #b4282d
            border: 1px solid #b4282d
            border-radius 5px
            background-color #fff      
            span 
               font-size 10px
               color #666   
               padding 41px      
         input[type="text"]
            width 235px
            height 22px
            border-radius 5px
            text-align center
            line-height 22px
            margin-top -35px
         .iconfont
               position absolute
               top 4px
               left 18px 
      .nav
         display flex 
         height 16px
         width 100% 
         justify-content space-around 
      .tabWrap
         display flex
         margin -12px
         .active
           color red
           border-bottom 1px solid red
         li
            font-size 14px
            padding 16px            
      .icon-xiala 
         width 20px
         height 20px
         font-size 23px
         color #eee
  
	.content  
		.swper
			margin-top 63px
			width 100%
			position relative
			height 222px
			img 
				width 100%
				height 200px
				position absolute
				top 14px
				left 0px
		.grow
			width 100%
			height 30px
			margin 13px right bottom left
			.grow-w
				display flex
				justify-content space-around 
				flex-del
				.item 
					span 
						font-size 13px
						color #666
					.iconfont
						color red   	
		.shop
			height 170px
			width 100%       
			.shop-all
				display flex
				margin 9px
				width 100%
				height 70px
				.shopItem 
					width 20%     
					img 
						width 60px
						height 60px
					span 
						font-size 13px 
		.fixed
			img
				width 100%
				height 65px
		.middle
				width 100%
				padding 10px 20px
				box-sizing border-box
				.middleItem 
					display flex    
					flex-wrap wrap
					justify-content space-around 
					width 100%
					.item
						width 49%
						height 125px
						background #eee
						.pItem-one
							font-size 16px
							color #333
							margin 8px
						.pItem
							font-size 12px
							color #7f7f7f;
					img 
							width 70px
							height 80px  
		.person
				width 100%
				p 
					font-size 17px  
					color #333
					text-align left
					margin: 8px 15px;
				.personAll 
					display flex 
					.personItem 
							margin 5px 
							width 29%
						.item 
								background #eee
								img 
										height 115px
								p
									font-size 14px
									text-align left 
							.text
								font-size 12px
							.paric
								font-size 12px
								color red   
				.kong
					height 10px
					width 100%
					background #eee       
		.time
				width 100% 
				display flex
				justify-content space-between  
				margin 6px 
				.left
					display flex
					span 
						width 20px
						height 20px
						color #fff
						background-color black 
						margin 0 7px
						border-radius 4px
						text-align center
						line-height 20px
					p
						font-size 15px
						margin 0 12px
						color #333                      
				.right
					display flex
					p
						color #333333
						font-size 13px
					.itemp
						padding 1px 10px 
		.photo
		.photoItem
			display flex 
			flex-wrap wrap
			.item
				margin 10px 9px
				.price               
					display flex 
					margin 0 25px
					p
						color red 
						font-size 15px 
					del
						font-size 12px
						color #666     
				img 
					width 107px
					height 107px
					background #eee
				.kong
					height 10px
					width 100%
					background #eee               
	.footer    
		width 100%
		height 40px
		position fixed
		bottom 0  
		background #fff 
		.line
			height 3px
			width 100%
			background #eee     
		.footer-all 
			justify-content space-between
			align-items: center;
			display flex    
			width 100%
			height 40px
			.item
				display flex             
				flex-direction column    
				width 20%
				margin 0 18px    
				.icon-xiaofangzi
					font-size 21px
					color red
					font-weight 700
				span  
					font-size 14px
					color #666
					



            
          
