#app
	.header
		width 100%
		height 50px
		.head
	  	padding 10px 0px 
			width 100%
			height 45px
			display flex
			justify-content space-around
			.left
				.iconfont
					font-size 30px
					margin 1px 14px
			.middle      
				height 22px
				width 80px
				margin 1px 10px
				img 
					height 24px
					width 75px
					padding 1xp 22px 
			.right
				.iconfont
					font-size 27px 
					margin 1px 14px
				.icon-dagouwuche
					font-size 30px
					margin 1px 11px
	.line
		width 100%
		height 2px
		background #eee
	.content
		width 100%
		.up	
			width 100%
			height 30px	
			text-align center
			line-height 125px
			img 
				height 34px

					
			